doctype html
- var bruger = bruger
- var userlevel = userlevel
- var chatnavn = chat.navn
- var ejer = chat.ejer
- var oprettelsesdato = chat.oprettelsesdato
- var chatBeskeder = chat.beskeder
//hej
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/chat.css")
        script(src="/js/chat.js" defer)
    body
h1 #{chatnavn}
p #{ejer} #{oprettelsesdato}
div()
    ul(id='beskedList')
        each besked of chatBeskeder
            div(id='li' + besked.id)
                p(style='margin: 0 0 5px 0;')
                    strong #{besked.ejer}:
                    |  #{besked.besked}
                    br
                    small #{besked.oprettelsesdato}
                button(onclick=`window.location.href='/chats/${chat.id}/messages/${besked.id}'`) Se detaljer
                if (userlevel == 3 || besked.ejer == bruger)
                    button(id='ret' + besked.id) Ret besked
                    button(id='slet' + besked.id) Slet besked
input(type='text' name='tekst',, id='nyBesked' placeholder='indtast besked her' required)
button(id='opretBesked') Opret besked
button(id='tilbageTilChats') Tilbage til chats