include includes/header
html(lang="en")
    head
        meta(charset="UTF-8")
        title User Detaljer
        link(rel="stylesheet", href="/css/userDetaljer.css")
    body
div.user
    h1 Bruger Detaljer
    p Brugernavn: #{user.brugernavn}
    p Brugerlevel: #{user.brugerniveau}
    p ID: #{user.id}
    p Oprettelsesdato: #{user.oprettelsesdato}
    button(onclick="history.back()") Tilbage
    button(id="seChatsBtn") Se chats
    button(id="beskeder") Se Alle skrevet beskeder
    div#chatListContainer(style="margin-top: 20px;")
        ul#chatList
script.
    const brugernavn = '#{user.brugernavn}';
    const id = '#{user.id}';
script(src="/js/chatDetaljer.js")